
HTML, BODY {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-family: Tahoma;
}


DIV.services {
	width: 100%;
	margin-top: 50px;
}


DIV.service {
	width: 80%;
	padding: 30px;
	margin: 10px;
	border: 1px solid rgb(253, 173, 2);
	background-color: #ececec;
	font-size: 20px;
}

DIV.fetched {
	border: 1px solid #00cc00;
}
DIV.error {
	border: 1px solid #ff0000;	
}

DIV.service > DIV.error {
	padding: 10px;
	font-weight: bold;
	margin-top: 20px;
	color: #ff0000;
}


DIV.service-auth {
	width: 80%;
	padding: 30px;
	margin: 10px;
	border: 1px solid #000000;
	background-color: #ececec;
}
DIV.service-auth > BUTTON {
	font-size: 20px;
	padding: 10px;
}


DIV.hidden {
	display: none;
}
